.jumbotron {
    text-align: center;
}

.panel {
    background-color: #343a40;
    border-radius: 5px;
    opacity: 25%;
}

.panel-heading {
    color: #fff;
    border-radius: 3px;
}

.col-heading,
.panel-body {
    color: #fff;
}

#panel-1,
#panel-2 {
    padding: 10px 10px;
}

.new-row {
    color: rgb(255, 0, 0);
}

.table {
    color:white;
}

td[disabled] {
    color:green;
} 

td:hover {
    color: red;
}